:root {
    --background: lightgray;
    --navbar: gray;
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

.main-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main-content h1 {
    font-size: 55px;
}